#profileBox {
    width: 40%;
    position: fixed;
    left: 400px;
    bottom: 428px;
}
#fullName {
    background-color: rgb(228, 228, 228);
    border-right-style: solid;
    border-right-color: red;
    border-right-width: 5px;
}
#profileBody {
    background-color: rgb(228, 228, 228);
    border-right-style: solid;
    border-right-color: red;
    border-right-width: 5px;
}